__pycache__/
*.pyc
.venv/
.env
*.log
data/synthetic/patients.json
data/synthetic/events.json
lakehouse/dbt/profiles.yml
lakehouse/dbt/target/
lakehouse/dbt/dbt_packages/
lakehouse/dbt/logs/
lakehouse/dbt/.user.yml
cancercare.duckdb
.pytest_cache/
schemas.txt
